@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    margin: 1px;
    padding: 0px;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    cursor: pointer;
    
    
}
.navbar ul{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;  
    font-family:serif;
    font-size: 18px;
}
.navlist li a:hover{

    text-decoration: underline;
    color: navajowhite;
}
.rightNav{
    
    width: 30%;
    text-align: right;
    padding: 0px 20px;
}
.logo{
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
  
    margin: 1px;
}
#search{
    padding: 5px;
    font-size: 15px;
    border: 2px solid cornsilk;
    
    border-radius: 1px;
}

.background{
    background: url('../img/3884427.jpg');
    
    /* background-image: radial-gradient(brown,black); */
    background-size: cover;
    background-blend-mode: darken;
}
.background1{
    background: url('../img/23.jpg');
    
    /* background-image: radial-gradient(brown,black); */
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: monospace;
    max-width: 50%;
    margin: auto;
    font-size: 15px;
    height: 60%;

}
.box-main1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: monospace;
    max-width: 50%;
    margin: auto;
    font-size: 15px;
    height: 73%;

}
#img1{
    height: 200px;
    width: 200px  ;
}
.firstSection{
    height: 140vh;
    
}
.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{
    width: 30%;
   
}
.secondHalf img{
    width: 70%;
    display: block;
    margin: auto
}
marquee{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.bigtext{
    font-family: 'Staatliches';
font-size: 46px;
text-align: center;
}
.bigtext1{
    font-family: 'Staatliches';
    display: flex;
font-size: 40px;
text-align: center;
justify-content: center;
color: black;


}
.smalltext{
font-size: 16px;text-align: center;
}
.btn1{
    padding: 5px 5px;
    margin: 6px 1px;
    border: 1px solid white;
    border-radius: 21px;
    font-size: 12px;
    background: none;
    cursor: pointer;
    color: white;
    float: right;
}
.btn1:hover{
    border: 2px solid black;
    background-color: white;
    color:black;
}
.btn11{
    padding: 7px 7px;
    margin: 3px 0px ;
    
    border-radius: 5px;
    font-size: 12px;
    background: none;
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    color:black;
    

}
.btn11:hover{
    padding: 7px 7px;
    margin: 3px 0px ;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 12px;
    background-color: black;
    cursor: pointer;
    color: rgb(255, 255, 255);

}
.btn{
    vertical-align: middle;
    cursor: pointer;
   
    
    
    padding: 6px 6px;
}
.btn:hover{
    background-color: darkgray;
    border:2px solid grey;
}

.secRight{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    margin: auto;
    
}
.sectionTag{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Seymour One', sans-serif;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    margin: auto;
    padding-left:2%;
    

}


.secRight1{
   
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: auto;
    background-image: url('../img/3884437.jpg');

}    

.secTag1{
   color:rgb(0, 0, 0);
   
    font-size: 50px;
    display: flex;
    
   
   
    font-family: 'Seymour One', sans-serif;
    
    align-items: center;
    justify-content: space-evenly;
    
    margin: auto;
    padding: 5px;
    
}

.secTag{
    color: white;
    font-size: 35px;
    
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    margin: auto;
    font-family: 'Seymour One', sans-serif;
    margin: 6%;
    padding-left:2%;
}
.secLeft1{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    flex-direction: row-reverse;
    

}  
.cr7{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 400px;
    margin-top: 4px;
}  
.secTag1{
    font-family: 'Staatliches';
font-size: 35px;

}
.secSubTag{
    font-size: 15px;
   
    font-family:  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.paras{
    padding: 0px 20px;
}
.contact{
    background-color: blanchedalmond;
    height: 120vh;
}
.txtcenter{
    text-align: center;
    padding: 35px;
    font-family: 'Staatliches';
    font-size: 35px;
    

}
.form{
    max-width: 800px;
    margin:  10px auto;
}
.form-input{
    margin: 5px 0;
    width: 100%;
    padding: 5px 3px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 6px;
    margin: 18px 0px;
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-2{
    color: black;
    border: 2px solid black;
    padding: 8px 8px;
    
}
.txtfooter{
    text-align: center;
    font-size: 17px;      
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.burger{
    display: none;
    flex-direction: column;
    justify-content: space-between;


    position: absolute;
    cursor: pointer;
    right: 1rem;
    top: 0.75rem;
    width: 30px;
}
.burger .line{
    width: 100% ;
    background-color: white;
    height: 7px;
    border-radius: 5px;
}
marquee{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 2px 2px ;
}


 


