/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}
/* CSS Variables */
:root{
    
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;top: 0%;position: sticky;
    
}
/* Navbar Logo and image */

#logo {
    
    margin: 10px 20px;

}
.logo img{
    height: 100px;margin: 3px 6px;
}
#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0%;left: 0%;
    height: 90%;
    width: 100%;
    z-index: -1; 
    opacity: 0.2;
   
    

}
#navbar ul li{
    
    list-style: none;
    font-size: 1rem;margin: 40px;
    font-family: Arial, Helvetica, sans-serif;text-decoration: underline;border-radius: 200px;background-color: rgb(0, 0, 0);
   
}

#navbar ul li a{
    color: rgb(255, 255, 255) ;
    display: block;
    padding: 3px 20px;
    text-decoration: none;
    border-radius: 4px;

}
#mar12{
    background-color: white;
    color: black;
    font-family: cursive;

}
#navbar ul li a:hover{
    color: rgb(0, 0, 0) ;
   background-color: rgb(255, 255, 255);
   
    }

   
   /* Home Section */
   #home{
       display: flex;
       flex-direction: column;
       padding: 3px 200px;
       height: 570px;
       justify-content: center;
       align-items: center;
   }

   #home::before{
    content: "";
    position: absolute;
    background:url(/bianca-gonzales-gWESUpjx5lA-unsplash.jpg) no-repeat center center/cover;
    top: 0%;left: 0%;

    
    height: 650px;
    width: 100%;
    z-index: -1; 
    opacity: 0.9;
   
}


#home h1{
    color: rgb(255, 255, 255);
    text-align: center;
}

#home p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1rem;
    font-family: 'Mukta', sans-serif;
    
}
/* Services Section */
#services{
    display: flex;
    margin: 30px;justify-content: center;text-align: center;
}


#services .box{
    border:2px solid rgb(255, 0, 0);
    padding: 34px;
    margin: 3px 25px;
    border-radius:30px ;
    background-color:rgb(243, 232, 217);
}
#services .box img{
    height: 100px;
    display: block;
    margin: auto;
    
}
#services .box p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head2 a{
    text-decoration: none;
}
/* Client section */

#client-section{
    position: relative;
/* height:220px; */

}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}
#client-section h1{
    justify-content: center;align-items: center;
}
.client-item img{
    height: 80px;
}
.client-item {
    padding: 20px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('/pexels-kira-schwarz-7708560.jpg');
    width: 100%;
    height: 213px;
    z-index: -1;
    opacity: 0.3;
}

/* 
Contact Section */

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background-color:blueviolet ;
    margin: 0%;padding: 0%;
}

footer{
    background: rgb(0, 0, 0);display: flex;
    color: white;
    padding: 6px 20px;align-items: center;justify-content: center;
}

#contact-box{
    display: flex;justify-content: center;align-items: center;padding-bottom: 34px;
}
#contact-box input,#contact-box textarea
{
    width: 100%;
    padding: 0.5rem;
    border: 2px solid black;border-radius: 10px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.2rem;font-family: serif;
}
#form-group1 input{
    width: 100%;
    padding: 0.5rem;
    border: 2px solid rgb(0, 0, 0);border-radius: 5px;height: 200px;

}
/* Utility Class */
.head1{
    font-size: 3rem;
    padding: 14px;
    font-family: 'Pattaya', sans-serif;justify-content: center;text-align: center;top: 0%;

}
.head2{
    font-size: 2rem;
    padding: 14px;
    font-family:  sans-serif;justify-content: center;text-align: center;top: 0%;

}


.btn{
    padding: 5px 10px;
    border: 2px solid rgb(255, 145, 0);
    background-color: cornsilk;
    color: black;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    color: yellow;
    background-color:black ;
}

#btn2{
    padding: 5px 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 204, 0);
    color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 2px;
    cursor: pointer;
    display:inline;justify-content: center;text-align: center;float: right;
}
#btn2:hover{
    padding: 5px 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    
}

