/* Navigation Section */
#navbar{
    flex-direction: column;
}
#services{
    flex-direction: column;
}


#client-section{
    flex-wrap: wrap;
}
#clients img{
    width: 70px;
    padding: 15px;height: auto;
}
#home{
    
    height: 370px;padding: 3px 50px;
}

#home::before{
    
    height: 489px;
}
#home p{
    font-size: 13px;
}
.head1{
    font-size: 24px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 6px;padding-bottom: 8px;
}
.btn{
    font-size: 13px;
    padding: 4px 7px;
}