


/* Navigation Section */
#navbar{
    flex-direction: column;
}
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

#client-section{
    
}
#clients img{
    width: 70px;
    padding: 2px 6px;height: auto;
}
#home{
    
    height: 370px;padding: 3px 55px;
}

#home::before{
    
    height: 489px;
}
#home p{
    font-size: 13px;
}
.head1{
    font-size: 24px;
}
#navbar ul li a{
    font-size: auto;
    padding: 0px 7px;padding-bottom: 8px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
#clients{
    flex-wrap: wrap;
}
#contact-box form{
    width: 70%;
}
#navbar::before {
    content: "";
    background-color: rgb(0 0 0);
    position: absolute;
    padding-top: 23px;
    top: -50%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}