.contact-content{
    height: 100vh;
    display: flex;
    margin-top: 20px;
    padding: 5px;
    flex-direction: column;
   
   overflow: hidden;
   align-items: center;
  
    
    
    }
    .contact-content::after{
        content: '';
        background: url(../img/22.jpg) no-repeat;
        position: absolute;
        width: 100%;
        height: inherit;
        opacity: 0.09;
        z-index: -1;
        }
  .contact-content h2{
      margin-top: 20px;
      margin-bottom: 20px;
      text-decoration: overline;
      font-size: 30px;
  }