@media screen and (max-width:1030px){

.navigation{
    flex-direction: column;
    margin-bottom: 15px;
}

.nav-left{
    
    flex-direction: column;
    text-align: center;
}
.content-right img{
    width: 170px;
    height: 170px;
}
.nav-right{
    margin-top: 10px;
}
.home-article{
    flex-direction: column;
}
.home-article img{
 
    text-align: center;
    
}

}
@media screen and (max-width:550px){
    .year-box{
        display: none;
    }
}