@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Mate+SC&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navigation{
/* height: 80px; */
display: flex;
justify-content: space-between;
align-items: center;
/* background-color: cadetblue; */
opacity: 0.8;
font-family: 'Mate SC', serif;
padding: 0 10px;
padding-top: 10px;
}

.nav-left{
font-size: 22px;
display: flex;
font-weight: bold;
}
.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 78px;
    font-size: 17px;

}
.nav-left ul li{
    list-style: none;
    margin: 0px 30px;
    font-family: var(--font1);
   
    

}
.nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bold;
    text-decoration: overline;

}
.nav-left ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;

}
.form-input{
    padding: 8px 10px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 0 10px;
    font-family: var(--font1);
}



.content{
height: 100%;
/* background: cornflowerblue; */
display: flex;
margin-top: 10px;
padding: 5px;
position: relative;

}
.content::after{
    content: '';
    background: url(../img/home.svg) no-repeat;
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    }
.content-left{
    font-family: var(--font1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    padding: 10px;
    

}
.content-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
    height: 300px;
    border-radius: 200px;
    border: 2px solid black;
    

  
}
.home-articles{
    
    background: antiquewhite;
    padding-top: 15px;
    color: black;
    font-size: 18px;
    position: relative;
   


}
.year-box{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0px;
    top: 0px;
background-color: palegoldenrod;
}
.year-box div{
    font-size: 17px;

}
.home-articles h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
    font-family: var(--font1);
}
.home-article{
display: flex;
margin: 20px;
padding: 10px;

}
.home-article img{
    width: 350px;
    
    
}
.home-article-content{
    align-self: center;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    width: 100px;
}

.footer{
height: 40px;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: white;
}


