*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(0, 0, 0);
   /* display: flex; */
    justify-content: center;
    
    min-height: 100vh;
    float: right;
}
.menubutton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 1s ease-in-out;
    
    margin:40px;
    
}
.burger{
    width: 50px;
    height: 6px;
    background: white;
    transition: all 1s ease-in-out;
}
.burger::before,.burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: white;
    transition: all 1s ease-in-out;
    
}
.burger::before{
    transform: translateY(-16px);
}
.burger::after{
    transform: translateY(16px);
}

/* ------------------  ANIMATION------------------------ */

.menubutton.open .burger{
transform: translateX(-50px);
background: transparent;
box-shadow: none;
}
.menubutton.open .burger::before{
    transform: rotate(45deg) translate(35px,-35px);
}
.menubutton.open .burger::after{
    transform: rotate(-45deg) translate(35px,35px);
}

/* .menubutton.open {
transform: rotate(180deg);
} */

